@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #13293d;
  --background-secondary: #193651;
  --text-primary: #caf0f8;
  --text-secondary: #9ccbd4;
  --border-default: #20456a;
}

#app {
  background-color: var(--background-primary);
  color: var(--text-secondary);
}
